include:
  - project: 'qqvp/cmake-boilerplate'
    file: 'gitlab-ci-template.yml'

repolinter:
  stage: build
  tags: 
    - linux
  script:
    - echo "start repolinter for Qbox"
    - repolinter lint ../Qbox

.build_job_template:
    needs: ["repolinter"]
    extends:
    - .general_build_job_template
    variables:
      REPO_CMAKE_ARGS: -DLIBQEMU_TARGETS='aarch64;hexagon;xtensa;riscv64;riscv32'
      IMAGE: $CI_REGISTRY/qqvp/containers/qqvp-dev-u22:latest

qqvp-trigger:
  extends: .base-trigger
  trigger:
    project: qqvp/qqvp
  variables:
    OVERRIDE_PKG: qbox
    IMAGE: $CI_REGISTRY/qqvp/containers/qqvp-dev-u22:latest
